<form [formGroup]="aboutForm">
  <h2>About</h2>
  <div>
    <app-label [labelName]="'Title'"></app-label>
    <app-text-input
      [placeholder]="'Make it short and clear'"
      [formController]="aboutForm.controls.title"
    ></app-text-input
      >
  </div>
  <div>
    <app-label [labelName]="'Description'"></app-label>
    <app-text-area-input
      [placeholder]="'Make it short and clear'"
      [formController]="aboutForm.controls.description"
    ></app-text-area-input>
  </div>
  <div>
    <app-label [labelName]="'Category'"></app-label>
    <app-select-input
      [formController]="aboutForm.controls.category"
      [optionsList]="optionsList"
    ></app-select-input
      >
  </div>
  <div>
    <app-label [labelName]="'Payment'"></app-label>
    <app-radio-input 
      [radioValue]="'free'" 
      [radioLabel]="'Free event'" 
      [radioName]="'payment'" 
      [formController]="aboutForm.controls.payment">
    </app-radio-input>
    <app-radio-input 
      [radioValue]="'paid'" 
      [radioLabel]="'Paid event'" 
      [radioName]="'payment'"
      [formController]="aboutForm.controls.payment">
    </app-radio-input>
  </div>
  <div>
    <app-label [labelName]="'Reward'"></app-label>
    <app-number-input
      [placeholder]="'Number'"
      [infoText]="'reward points for attendance'"
      [formController]="aboutForm.controls.reward"
    ></app-number-input
      >
    <p>reward points for attendance</p>
  </div>
</form>
