@import '../../../presets.scss';

app-label{
  flex-basis: 15%;
}
app-text-input{
  flex-basis: 65%;
}
app-text-area-input{
  flex-basis: 65%;
}
app-select-input{
  flex-basis: 65%;
}
.about-form__payment-number-input{
  margin-left: 1rem;
}
app-radio-input{
  padding-top: 0.5rem;
}