<form [formGroup]="aboutForm" ngxsForm="formData.aboutForm" class="section-container">
  <app-section-title [sectionTitle]="'About'"></app-section-title>
  <div class="input-row">
    <app-label 
      [labelName]="'Title'" 
      [mandatory]="true"
      [submitted]="submitted"
      [inputErrors]="aboutForm.controls.title.errors"> 
    </app-label>
    <app-text-input
      [placeholder]="'Make it short and clear'"
      [formController]="aboutForm.controls.title"
      [submitted]="submitted"
    >
    </app-text-input>
    <app-alert-box
      [submitted]="submitted"
      [sectionName]="'Title'"
      [inputErrors]="aboutForm.controls.title.errors"
    >
    </app-alert-box>
  </div>
  <div class="input-row">
    <app-label 
      [labelName]="'Description'" 
      [mandatory]="true"
      [submitted]="submitted"
      [inputErrors]="aboutForm.controls.description.errors"> 
    </app-label>
    <app-text-area-input
      [placeholder]="'Write about your event, be creative'"
      [formController]="aboutForm.controls.description"
      [maxCharacterLength]="140"
      [submitted]="submitted"
    >
    </app-text-area-input>
    <app-alert-box
      [submitted]="submitted"
      [sectionName]="'Description'"
      [inputErrors]="aboutForm.controls.description.errors"
    >
    </app-alert-box>
  </div>
  <div class="input-row">
    <app-label [labelName]="'Category'"></app-label>
    <app-select-input
      [formController]="aboutForm.controls.category"
      [optionsList]="optionsList"
      [placeholder]="'Select category (skills, interests, locations)'"
      [annotation]="'Describes topic and people who should be interested in this event'"
    >
    </app-select-input>
  </div>
  <div class="input-row">
    <app-label 
      [labelName]="'Payment'"
      [submitted]="submitted"
      [formErrors]="aboutForm.errors">
    </app-label>
    <app-radio-input
      [radioValue]="'free'"
      [radioLabel]="'Free event'"
      [radioName]="'payment'"
      [formController]="aboutForm.controls.payment"
    >
    </app-radio-input>
    <app-radio-input
      [radioValue]="'paid'"
      [radioLabel]="'Paid event'"
      [radioName]="'payment'"
      [formController]="aboutForm.controls.payment"
    >
    </app-radio-input>
    <app-number-input
      *ngIf="aboutForm.controls.payment.value === 'paid'"
      [placeholder]="'Fee'"
      [infoText]="'$'"
      [formController]="aboutForm.controls.fee"
      [submitted]="submitted"
      [formErrors]="aboutForm.errors"
      class="about-form__payment-number-input"
    >
    </app-number-input>
    <app-alert-box 
      [submitted]="submitted" 
      [formErrors]="aboutForm.errors" 
      class="about-form__feeAlert"
    >
    </app-alert-box>
  </div>
  <div class="input-row">
    <app-label [labelName]="'Reward'"></app-label>
    <app-number-input
      [placeholder]="'Number'"
      [infoText]="'reward points for attendance'"
      [formController]="aboutForm.controls.reward"
    >
    </app-number-input>
  </div>
</form>
