<app-header [header]="'New Event'"></app-header>
<div *ngIf="!postSuccess" class="main-form">
  <app-about
    [submitted]="submitted"
    (validityChange)="validityHandler($event, 'about')"
  >
  </app-about>
  <app-coordinator
    [submitted]="submitted"
    (validityChange)="validityHandler($event, 'coordinator')"
  >
  </app-coordinator>
  <app-when
    [submitted]="submitted"
    (validityChange)="validityHandler($event, 'when')"
  >
  </app-when>
  <app-button 
    [buttonType]="'button'" 
    [actionText]="'Publish Event'" 
    (click)="submit()">
  </app-button>
</div>
<app-success *ngIf="postSuccess"></app-success>
