@import '../../../presets.scss';

app-label{
  flex-basis: 15%;
}
app-select-input{
  flex-basis: 65%;
}
app-email-input{
  flex-basis: 65%;
}
app-alert-box{
  display: flex;
  flex-basis: 20%;
  align-items: center;
  margin-left: 0.5rem;
}