<form [formGroup]="coordinatorForm" ngxsForm="formData.coordinatorForm" class="section-container">
  <app-section-title [sectionTitle]="'Coordinator'"></app-section-title>
  <div class="input-row">
    <app-label [labelName]="'Responsible'" [mandatory]="true"> </app-label>
    <app-select-input
      [formController]="coordinatorForm.controls.responsible"
      [optionsList]="usersList"
      [presetOption]="presetUser"
      [presetOptgroupName]="'Me'"
      [otherOptgroupName]="'Others'"
    >
    </app-select-input>
    <app-alert-box
      [submitted]="submitted"
      [sectionName]="'Responsible'"
      [inputErrors]="coordinatorForm.controls.responsible.errors"
    >
    </app-alert-box>
  </div>
  <div class="input-row">
    <app-label 
      [labelName]="'Email'"
      [submitted]="submitted"
      [inputErrors]="coordinatorForm.controls.email.errors"
      >
    </app-label>
    <app-email-input 
      [formController]="coordinatorForm.controls.email"
      [submitted]="submitted">
    </app-email-input>
    <app-alert-box
      [submitted]="submitted"
      [inputErrors]="coordinatorForm.controls.email.errors"
    >
    </app-alert-box>
  </div>
</form>
