<div class="starts-on">
  <input 
    type="date" 
    [min]="minDate" 
    [formControl]="formDateController" 
    [ngStyle]="{'color': formDateController.pristine && !presetOption ? '#d8d8da' : '#676767'}" 
    class="starts-on__date"
    [ngClass]="{'starts-on__date--alert': submitted && formDateController.errors}"
   >
  <div class="starts-on__at">at</div>
  <input
    type="time"
    min="01:00"
    max="12:59"
    [formControl]="formTimeController"
    [ngStyle]="{'color': formTimeController.pristine && !presetOption ? '#d8d8da' : '#676767'}"
    class="starts-on__time"
    [ngClass]="{'starts-on__time--alert': submitted && formTimeController.errors}"
  />
  <app-radio-input
    [radioName]="'ampm'"
    [radioLabel]="'AM'"
    [radioValue]="'am'"
    [formController]="formRadioController"
  ></app-radio-input>
  <app-radio-input
    [radioName]="'ampm'"
    [radioLabel]="'PM'"
    [radioValue]="'pm'"
    [formController]="formRadioController"
  ></app-radio-input>
</div>
