@import "../../../presets.scss";

.alert-box {
  width: 100%;
  @include if-size(mediumUp) {
    width: auto;
  }
}
.alert-box__text {
  position: relative;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  background-color: $alert-color;
  padding: 0.35rem;
  border-radius: 0.15rem;
}
.alert-box__text:after {
  @include if-size(mediumUp) {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.35rem solid transparent;
    border-right-color: $alert-color;
    border-left: 0;
    margin-top: -0.35rem;
    margin-left: -0.35rem;
  }
}
