/*colors*/
$header-background-color: #355990;
$header-top-border-color: #1e3c68;
$section-title-color: #3d6095;
$input-border-color: #d8d8da;
$input-label-color: #8ca2c2;
$section-border-color: #ebebeb;
$publish-button-color: #ff8e1d;
$reddish: #ffb3b3;
$default-color: #001c00;

