@import "~normalize.css";
@import "./presets.scss";

input[type="time"]::-webkit-datetime-edit-ampm-field {
  display: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  color: $default-color;
  font-size: 1rem;
}
h2 {
  margin: 0;
}
button,
input[type="submit"],
input[type="button"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#foo:checked::before,
input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
}

#foo:checked,
input[type="radio"] + label::before {
  content: url("./assets/radio-not-checked.png");
  margin: 0.5rem;
  position: relative;
  top: 0.1rem;
}

input[type="radio"]:checked + label::before {
  content: url("./assets/radio-checked.png");
}
input::placeholder,
textarea::placeholder,
input[type="date"]:invalid::-webkit-datetime-edit,
input[type="time"]:invalid
{
  color: $input-border-color;
}
input,
textarea,
select {
  color: $default-color;
  border: 0.05rem solid $input-border-color;
  border-radius: 0.02rem;
  padding: 0.5rem;
}
.section-container {
  border: 0.05rem solid $section-border-color;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 5px -1px #57545770;
  padding: 1.5rem 2.5rem;
  margin-top: 1.8rem;
}
.input-line {
  display: flex;
  justify-content: flex-start;
  margin: 1.5rem 0;
}
// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }
// * * * * * * * { background-color: rgba(255,0,0,.2); }
// * * * * * * * * { background-color: rgba(0,255,0,.2); }
// * * * * * * * * * { background-color: rgba(0,0,255,.2); }
