@import "../../../presets.scss";

//button normalizer

button,
input[type="submit"],
input[type="button"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.publish-button {
  padding: 1rem 1.875rem;
  margin: 1.7rem auto;
  background-color: $publish-button-color;
  color: white;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.95rem;
  &:hover {
    transition: all 150ms linear;
    opacity: .85;
  }
  &:active {
    transition: all 150ms linear;
    opacity: .55;
  }
}
